<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Password</th>
            <th>Mail</th>
            <th>Operations</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:utext="${user.getName()}"></td>
            <td th:utext="${user.getPassword()}"></td>
            <td th:utext="${user.getMail()}"></td>
            <td>
                <form method="post" th:action="@{/admin/edit}">
                    <input type="hidden" name="userId" th:value="${user.getId()}" />
                    <input type="submit" value="Edit"/>
                </form>
                <form method="post" th:action="@{/admin/delete}">
                    <input type="hidden" name="userId" th:value="${user.getId()}" />
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
    </table>
    <br>

    <input type="button" value="Add"
           onclick="window.location.href = '/admin/new'"/>

    <input type="button" value="Logout"
           onclick="window.location.href = '/logout'"/>
</div>
</body>
</html>